.hero {
  height: 100vh;
  position: relative;
}
.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0 20px;

  @include tablets {
    justify-content: unset;
  }
}

.hero__container_deactive {
  display: none;
}

.hero__bottom-buttons {
  display: flex;
  justify-content: center;
}
