.values {
  background: url("~images/bg/middle.png") center top / cover no-repeat;
  position: relative;

  &::before {
    content: url("~images/bg/arms.png");
    display: block;
    width: 490px;
    height: 728px;
    position: absolute;
    bottom: 16%;
    left: 0;
  }
}