.values {
  background: url("~images/bg/middle.png") center top / cover no-repeat;
  position: relative;

  &::before {
    content: "";
    background: url("~images/bg/arms.png");
    display: block;
    width: 662px;
    height: 983px;
    position: absolute;
    bottom: -9%;
    left: 0;
  }
}

@include desktop {
  .values:before {
    width: 490px;
    height: 728px;
    background-size: cover;
    bottom: -9%;
    left: -7%;
  }
}