.slider {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slider__header {
  display: flex;
  flex-direction: row;
  padding-top: 13%;
  margin: 0 0 95px 60px;
}

.slider__buttons {
  margin-left: 135px;
}

.slider__content {
  display: flex;
  flex-direction: row;
  width: 70%;
  padding-bottom: 20%;

  @include desktop {
    width: 85%;
  }
}
.slider__item {
  padding-right: 30px;
  width: 50%;
}