.about__user {
  width: 25%;
}
.user__avatar-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 78px;
}

.user__data-title {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  padding-right: 15%;
}

