.userinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userinfo__name {
  flex-basis: 400px;
  font-size: 72px;
  color: $text-color;
  font-weight: 800;
  line-height: 1;
}

.userinfo__title {
  width: 165px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  margin-bottom: 20px;
  text-align: right;
  margin-right: 56px;
  padding-top: 10px;
}