.values__container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 93px;

  @include desktop {
    width: 50%;
  }
}

.values__title-text {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20%;
  margin-bottom: 39px;
}

.values__widget {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;

  @include desktop {
      padding-right: 0;
    }
}

