.values__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 93px;
}

.values__title-text {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20%;
  margin-bottom: 39px;
}

.values__widget {
  display: flex;
  justify-content: center;
  padding-left: 25%;
}

