.container {
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
.btns {
  border: none;
}

.title {
  margin-left: 10px;
  color: black;
}