.skill-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 17px;
}

.title {
  color: #373E42;
}

.percent {
  color: #414C63;
  margin-right: 60px;
}

.info {
  display: flex;
  align-items: center;
}

.btn {
  background: transparent;
  margin-bottom: 5px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

