.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 60px;
}
.page-content {
  padding: 60px 0 20px;
  background: url("../images/bg/admin.jpg") center center / cover no-repeat;
  flex: 1;
}

.title {
  margin-right: 60px;
  color: #2D3C4E;
  font-weight: bold;
  font-size: 21px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: calc(100% / 2 - 30px);
  margin: 0 30px 25px 0;
}